
<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">LOGIN</h1>
                <form [formGroup]="validateForm">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput formControlName="username" >
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Pasword</mat-label>
                        <input type="password" matInput   formControlName="password">
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="accent" [disabled]="validateForm.invalid" (click)="login()">CONNEXION</button>
                        <button mat-raised-button color="warn" (click)="reset()" style="margin-left: 10px;">RESET</button>
                    </div>
                </form>
                <br>
                    {{ validateForm.value | json}}
            </div>
        </div>
    </div>
</div>